# node.js
/exampleOne/node_modules
# Phyton
/exampleTwo/testAction/*.py[cod]
/exampleTwo/testAction/*$py.class
exampleTwo/testAction/

# C extensions
/exampleThree/output/

**/[Bb]in/
**/[Oo]bj/

# Ignorar archivos de configuración del usuario de Visual Studio
**/*.user
**/*.useros